.no-start-value {
	color: blue;
	font-weight: bold;
	font-size: x-large;
}

.start-value {
	color: black;
	font-weight: bold;
	font-size: x-large;
}

.field {
	padding: 50px;
	width: 80%;
}

.width10percent {
	width: 10%;
}

.inputcell {
	margin-bottom: 10px;
	margin-top: 10px;
}

.segment-end {
	border-right: 1px solid black;
}